body h1 a{
    color: #212529;
    text-decoration: none;
    transition: color 0.5s;
}

body h1 a:hover{
    color: #3d6385;
    text-decoration: none;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #f1f1f1;
}